.submit-button{
  height: 25px;
  min-width: 120px;

  padding: 5px;
  box-sizing: border-box;
  
  background: white;
}

.submit-button:hover{
  cursor: pointer;

}

.small-submit-button{
  height: 25px;
  max-width: 30px;

  padding: 5px;
  box-sizing: border-box;

  margin-left: 10px;
  
  background: white;
}

.small-submit-button:hover{
  cursor: pointer
}