.db-body-main{
  width: 73%;

  margin-left: 2%;

  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 0 2px 1px 	#C8C8C8;

  // flex: 1 1 auto;

  background: white;
}