.gateway-form-container-transition-enter {
  opacity: 0.1;
  transform: scale(1.2);
}

.gateway-form-container-transition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 500ms;
}

.gateway-form-container-transition-exit {
  opacity: 1;
  transform: scale(1);
}

.gateway-form-container-transition-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  transition: all 500ms;
}