.gateway-form-container{
  height: 350px;
  width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  box-sizing: border-box;

  padding: 50px;
  margin-bottom: 20vh;

  background: 	white;
  border-radius: 20px;
  border: 1px solid #888888;
}

.gateway-form-header{

  display: flex;
  justify-content: space-between;

  padding-bottom: 20px;
}

.gateway-form-header-banner{
  font-size: 20px;
}

.credentials-form-row-header{
  font-size: 13px;
  margin-bottom: 5px;
}

.credentials-form-row{
  margin: 10px 0px;
}

.gateway-form-input{
  width: 100%;
}

.gateway-form-navigator{
  line-height: 20px;
  min-height: 20px;
  width: 120px;

  border-radius: 5px;
  border: 1px solid black;

  font-size: 12px;
  text-align: center;

  background: white;

  transition: all .3s;
}

.gateway-form-navigator:hover{
  cursor: pointer;
  background: 	#F5F5F5;
  transform: scale(1.05);
}

.credentials-submit-row{
  display: flex;
  justify-content: center;
}