.ud-header-container{
  height: 50px;
  width: 100%;

  display: flex;
  justify-content: space-between;

  border: 1px solid 	#303030;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px 	#C8C8C8;
  box-sizing: border-box;

  margin-bottom: 20px;

  background: white;
}