.reverse-transition-enter {
  opacity: 0;
  transform: scale(0.6);
}

.reverse-transition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 500ms;
}

.reverse-transition-exit {
  opacity: 1;
  transform: scale(1);
}

.reverse-transition-exit-active {
  opacity: 0;
  transform: scale(0.6);
  transition: all 500ms;
}