.user-search-container{
  width: 100%;
  max-height: 100%;
  // display: flex;
  flex: 1 1 auto;
  background: gray;

  padding-top: 15px;
  // box-sizing: border-box;
}

.search-header-container{
  display: flex;
  justify-content: center;
  padding-left: 50px;
}