.user-search-container{
  width: 100%;
  height: 100%;
  background: gray;

  padding-top: 15px;
  box-sizing: border-box;
}

.search-header-container{
  display: flex;
  justify-content: center;
  padding-left: 50px;
}